@import url('https://fonts.google.com/specimen/Lobster?category=Serif,Display,Handwriting,Monospace');

:root {
  background-color: white;
}

body {
  color:black;
  background-color: rgb(252, 252, 250);
  margin: 7%;
  background-image: url('https://media.istockphoto.com/photos/texture-of-blue-paper-picture-id945663596?b=1&k=20&m=945663596&s=170667a&w=0&h=ioZEeniCrlLb0EcGTn_XOdkbTyWd2ozdYyQuQ2CLGoI=');
}

#whole-form {
  position: "fixed";
  font-family: cursive;
  font-size: 1.1rem;
  font-weight: light;
  line-height: 1.5;
  margin: 5%;
}

.header {
  font-family: cursive;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.5;
}


